<p id="notice"><%= notice %></p>

<p>
  <strong>Fb api user:</strong>
  <%= @user.fb_api_user_id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
