<textarea type="text" class="light_text text_area" id="follow_statement_<%= follow_statement_id %>" rows="<%= depth == 1 ? 6 : 3 %>" style="width:400px; position:relative; top:4px;"></textarea><br>
<span class="add_new_statement_to_room btn btn-primary" data-room_id="<%= room_id %>" data-follow_statement_id="<%= follow_statement_id %>" data-depth="<%= depth %>" style="position:relative; top:5px;">Add Your Statement</span>
<%= image_tag "loading.gif", :id => "loading", :style => "position:relative; top:5px; display:none;" %>
<span id="success_message_0" style="color:green; display:none; position:relative; top:7px;">Success! Your statement is posted below.</span><br>