<table>
	<tr>
		<td width="300px"><strong>Room #</strong></td>
		<td width="300px"><strong>Description</strong></td>
		<td></td>
	</tr>
	<% @rooms.each do |room| %>
	<tr>
		<td width="40px"><%= room.fb_comment_thread_id %></td>
		<td width="300px"><%= room.description %></td>
		<td><a href="/room/<%= room.fb_comment_thread_id %>" class="btn btn-success">View</a></td>
		<% if current_user && current_user.is_admin == true %>
			<td><%= link_to 'Edit', edit_room_path(room) %></td>
			<td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	</tr>
	<% end %>
</table>
